* {
  text-align: center;
  font-size: 24px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#consoleElem {
  overflow-x: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: left;
}

.clock,
.date {
  text-transform: uppercase;
  letter-spacing: 8px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: inline-block;
}

.clock::after {
  content: ' | ';
  display: inline-block;
  margin-left: 4px;
  margin-right: 4px;
}

.calendar {
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
  border: thin solid;
}

.days td {
  font-weight: bold;
  font-size: 20px;
  border-top: thin solid;
  border-bottom: thin solid;
}

/* .days td:first-child {
  border-left: thin solid;
}

.days td:last-child {
  border-right: thin solid;
} 

.calendar td.day-past {
}*/

.calendar td.month-other {
  color: #7f7f7f;
}

.calendar td.day-today {
  font-size: 24px;
  background-color: black;
  color: white;
}
