* {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}

#consoleElem {
  overflow-x: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: left;
  font-size: 16px;
}

table.widget,
div.widget {
  /* position: relative; */
  /* display: block; */
  display: inline-block;
  border: thin solid;
}

/* Clock and Date Style */

.clock,
.date {
  text-transform: uppercase;
  letter-spacing: 8px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  /* display: inline-block; */
}

/* .clock::after {
  content: ' | ';
  display: inline-block;
  margin-left: 4px;
  margin-right: 4px;
} */

/* Calendar Styles */

table.calendar {
  text-align: center;
}

table.calendar > tbody > tr.days > td {
  font-weight: bold;
  border-top: thin solid;
  border-bottom: thin solid;
}

table.calendar > tbody > tr > td.month-other {
  color: #7f7f7f;
}

table.calendar > tbody > tr > td.day-today {
  font-weight: bold;
}

table.calendar.light {
  background-color: white;
  color: black;
}

table.calendar.light > tbody > tr > td.day-today {
  background-color: black;
  color: white;
}

table.calendar.dark {
  background-color: black;
  color: white;
}

table.calendar.dark > tbody > tr > td.day-today {
  background-color: white;
  color: black;
}

/* .days td:first-child {
  border-left: thin solid;
}

.days td:last-child {
  border-right: thin solid;
} 

.calendar td.day-past {
}*/
