* {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#consoleElem {
  overflow-x: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: left;
  font-size: 16px;
}

.monospaced {
  font-family: monospace;
}

/* Widget styles */

table.widget,
div.widget {
  /* display: inline-block; */
  border: thin solid;
  position: absolute;
}

div.shadow {
  position: absolute;
  background-color: black;
  z-index: -1;
}

div.centered {
  background-color: white;
  text-align: center;
  display: inline-block;
}

div.centered::before {
  content: ' ';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

/* Clock and Date Style */

.clock,
.date {
  text-transform: uppercase;
  letter-spacing: 6px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  /* display: inline-block; */
}

/* .clock::after {
  content: ' | ';
  display: inline-block;
  margin-left: 4px;
  margin-right: 4px;
} */

/* Calendar Styles */

table.calendar {
  text-align: center;
}

table.calendar > tbody > tr > td {
  padding: 0;
  padding-left: 2px;
  padding-right: 2px;
}

table.calendar > tbody > tr.days > td {
  font-weight: bold;
  border-top: thin solid;
  border-bottom: thin solid;
}

table.calendar > tbody > tr > td.month-other {
  color: #7f7f7f;
}

table.calendar > tbody > tr > td.day-today {
  font-weight: bold;
}

table.calendar.light {
  background-color: white;
  color: black;
}

table.calendar.light > tbody > tr > td.day-today {
  background-color: black;
  color: white;
}

table.calendar.dark {
  background-color: black;
  color: white;
}

table.calendar.dark > tbody > tr > td.day-today {
  background-color: white;
  color: black;
}

/* .days td:first-child {
  border-left: thin solid;
}

.days td:last-child {
  border-right: thin solid;
} 

.calendar td.day-past {
}*/

/* Resolution widget styles */

div.resolution > div {
  display: inline-block;
}

/* Grid widget styles */

div.grid > table,
div.grid > table > tbody > tr > td {
  border: thin dashed;
  border-collapse: collapse;
  border-spacing: 0px;
  background: none;
}

div.grid > table {
  width: 100%;
  height: 100%;
}

/* Note widget styles */

div.note {
  overflow-y: scroll;
  background-color: white;
}

div.note > pre.note-text-container {
  display: inline-block;
  overflow-x: auto;
  margin: 0;
  white-space: pre-wrap;
  word-wrap: break-word;
}
